h1, h2, h3, a{
  font-family: 'Quicksand', sans-serif;
  color: #fdecb7;
  text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.2);
  letter-spacing: 0px;
  font-weight: 700;
}

h1{
  font-size: 60px;
  margin: 0 0 40px;
}

h3{
  margin: 0;
  font-weight: 700;
}

p,ul li{
  color: #E98142;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  text-shadow: -1px 1px 0 rgba(255,255,255,.4);
  font-size: 14px;
  line-height: 1.6;
}

img{
  border: 1px solid #bbb ;
}

html{
    background: #fdecb7;
    background-image: url("../img/texture.png");
}

body {
    margin:0px auto;
    background: transparent;
    background-image: url("../img/texture.png");
}

.container{
  width:960px;
  margin: 10px auto;
}

header,section {
  padding: 50px 55px 40px;
  background: #6DC691;
  margin: 0 0 80px;
  border: solid 1px rgba(0, 0, 0, .15);
  -webkit-box-shadow: rgba(0,0,0,.5) -1px 1px 0, rgba(255,255,255,.5)-1px 1px 0 inset;
  -moz-box-shadow: rgba(0,0,0,.5) -1px 1px 0, rgba(255,255,255,.5)-1px 1px 0 inset;
  box-shadow: rgba(0,0,0,.5) -1px 1px 0, rgba(255,255,255,.5)-1px 1px 0 inset;
  border-bottom: 4px solid #E98142;
  background-image: url("../img/texture.png");
}

header img{
  border: none;
}

header h1{
  float: left;
}

.left_space{
  float: left;
  width: 420px;
}
.pc{
  padding: 23px 30px;
  background: #fdecb7;
  border: solid 1px rgba(0, 0, 0, .1);
  -webkit-box-shadow: rgba(0,0,0,.1) -1px 1px 2px inset, rgba(255,255,255,-1) -1px 1px 0;
  -moz-box-shadow: rgba(0,0,0,.1) -1px 1px 2px inset, rgba(255,255,255,-1) -1px 1px 0;
  box-shadow: rgba(0,0,0,.1) -1px 1px 2px inset, rgba(255,255,255,-1) -1px 1px 0;
  margin: 10px 0 30px;
  background-image: url("../img/texture.png");
}
.desktop{
  padding: 95px 0px;
  background: #6DC691;
  text-align: center;
  border: solid 1px rgba(0, 0, 0, .1);
  -webkit-box-shadow: rgba(0,0,0,.1) -1px 1px 2px inset, rgba(255,255,255,-1) -1px 1px 0;
  -moz-box-shadow: rgba(0,0,0,.1) -1px 1px 2px inset, rgba(255,255,255,-1) -1px 1px 0;
  box-shadow: rgba(0,0,0,.1) -1px 1px 2px inset, rgba(255,255,255,-1) -1px 1px 0;
  background-image: url("../img/texture.png");
}

.desktop p{
  font-family: 'Quicksand', sans-serif;
  color: #fdecb7;
  text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 23px;
  font-weight: 700;
  text-shadow: none;
}

.navbar {
margin-bottom: 10px;
overflow: visible;
color: #777;
}

.navbar-inner {
min-height: 40px;
padding: 10px 10px;
background-color: #fdecb7;
background-image: -moz-linear-gradient(top, #fdecb7, #fdecb7);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdecb7), to(#fdecb7));
background-image: -webkit-linear-gradient(top, #fdecb7, #fdecb7);
background-image: -o-linear-gradient(top, #fdecb7, #fdecb7);
background-image: linear-gradient(to bottom, #fdecb7, #fdecb7);
background-repeat: repeat-x;
border: none;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdecb7', endColorstr='#fdecb7', GradientType=0);
border: solid 1px rgba(0, 0, 0, .1);
-webkit-box-shadow: rgba(0,0,0,.1) -1px 1px 2px inset, rgba(255,255,255,-1) -1px 1px 0;
-moz-box-shadow: rgba(0,0,0,.1) -1px 1px 2px inset, rgba(255,255,255,-1) -1px 1px 0;
box-shadow: rgba(0,0,0,.1) -1px 1px 2px inset, rgba(255,255,255,-1) -1px 1px 0;
background-image: url("../img/texture.png");
}

.navbar .nav {
position: relative;
left: 0;
display: block;
float: left;
margin: 0 0px 0 0;
}

.navbar .nav > li {
float: left;
}

.navbar .nav > li > a {
float: none;
font-size: 26px;
padding: 10px 8px 10px;
color: #e98142;
text-decoration: none;
text-shadow: 0 1px 1px #aaa;
}

.navbar .nav > li > a:hover {
color: #6DC691;
}

.right_space{
  width: 380px;
  float: right;
}

.right_space h2{
  margin: 0;
  font-size: 37px;
}

.right_space h3{
  margin-bottom: 15px;
}

.caption{
  background: #fdecb7;
  padding: 22px 20px 15px;
  border: solid 1px rgba(0, 0, 0, .1);
  -webkit-box-shadow: rgba(0,0,0,.1) -1px 1px 2px inset, rgba(255,255,255,-1) -1px 1px 0;
  -moz-box-shadow: rgba(0,0,0,.1) -1px 1px 2px inset, rgba(255,255,255,-1) -1px 1px 0;
  box-shadow: rgba(0,0,0,.1) -1px 1px 2px inset, rgba(255,255,255,-1) -1px 1px 0;
  margin: 0 0 20px;
  background-image: url("../img/texture.png");
}

.caption a {
  color: #E98142;
  text-shadow: 0 1px 1px #FFE;
  font-size: 15px;
  line-height: 1.4; 
  text-align: center;  
}

.caption ul {
  margin: 20px 20px 10px;
}

.caption img{
  text-align: center;
}

.ability p{
  color: #fdecb7;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.4;
}

.sns{
  float: right;
}

.sns ul{
  list-style: none;
  margin: 16px 0 0;
}

.sns ul li{
  float: left;
  margin: 0 20px 0 0 ;
}

.totop{
  float: right;
}

.totop:hover{
  color: #E98142;
  text-decoration: none;
}

.portforio .right_space .caption{
  padding: 15px;
}

.part{
  border-bottom: 2px dashed #fdecb7;
  padding: 0 0 30px;
  margin: 0 0 30px;
}

.music ul{
  list-style: none;
  margin: 0;
}

.music ul li{
  text-align: center;
  max-width: 260px;
  float: left;
}

.music ul li:nth-child(2){
  margin : 0px 34px;
}

.music ul li h3{
  text-align: left;
}

.music h3{
  text-align: right;
}

.music h3 a{
  font-size: 27px;
  color: #fdecb7;
}

.music h3 a:hover {
  color: #E98142;
  text-decoration: none;
}

.carousel{
  margin-bottom: 10px;
}

.photo .caption a{
  line-height: 0.5;
  color: #fff;
  text-shadow: none;
  font-size: 60px;
  text-align: center;
}

footer {
  clear:both !important;
  text-align: center;
  background: #E98142;
  height: 150px;
  padding: 60px;
  background-image: url("../img/texture.png");
}

footer p{
  color: #fdecb7;
  font-size: 68px;
  letter-spacing: -1px;
  font-family: 'Quicksand', sans-serif;
  text-shadow: none;
}

footer .rights p{
  font-size: 14px;
  text-shadow: none;
}

